template(name='coin')
    .ui.padded.grid
        .ui.sixteen.wide.column
            .ui.header #{my_coins.count} coins
            .ui.button.mint_coin
                |mint
            .ui.header my coins 
            each my_coins
                .ui.header #{_when}