template(name='coin')
    .ui.padded.grid
        .ui.sixteen.wide.column
            .ui.inline.header 
                +i name='coins'
                |#{my_coins.count} coins
            .ui.button.mint_coin mint
            .ui.button.calc_coin calc
            .ui.header my coins 
            .ui.cards
                each my_coins
                    +coin_item
                
                
template(name='coin_item')
    .card 
        .content
            .ui.header #{_when}
            .ui.button.transfer 
                |transfer